*{
    margin: 0;
    
}

.bcgrnd {
    width: 100%;
    background-image: url('./wallpaperbetter.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;

}
form {
    width: 200px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
}

.poke-card {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #E74A4A;
    border: 2px solid black;
}

.poke-card::before {
    content: '';
    background: radial-gradient(rgb(255, 28, 28) 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
    
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed rgb(255, 255, 255);
}

.poke-img{
    width: 180px;
    border-radius: 50%;
    border: 2px solid #000;
}

#pokedex {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}